<%= form_for(@npc) do |f| %>
  <% if @npc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@npc.errors.count, "error") %> prohibited this npc from being saved:</h2>

      <ul>
      <% @npc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map_id %><br>
    <%= f.number_field :map_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :character_sheet %><br>
    <%= f.text_field :character_sheet %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
