<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Ymir", root_path, :class => "navbar-brand" %>
    </div>  
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <%= button_to "Sign Out", destroy_user_session_path, :class => "btn sign-in-up btn-primary", :method => :delete  %>
        </div>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<br><br>

<div class="container">
  <div class="row">
    <h1>Campaigns</h1>
    <div style="float:right; position:relative; top:-3rem;"><%= button_to '+ New Campaign', new_campaign_path, :class => "btn sign-in-up-form btn-primary", :method => :get %></div>
  </div>
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-md-4" style="background:#555; overflow:hidden; height: 250px; border: 1px solid black;">

        <h2 class="text-center"><%= campaign.name %></h2>
        <%= campaign.notes.truncate(300, omission: '... (continued)') %>
        <br>
        <br>
        <div class="text-center">
          <%= link_to 'Show', campaign %> //
          <%= link_to 'Edit', edit_campaign_path(campaign) %> // 
          <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <hr>

  <footer>
    <p>&copy; Team JAN - CodeDay Portland 2014</p>
  </footer>
</div> <!-- /container -->

<!-- <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>-->


