<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map_id %><br>
    <%= f.number_field :map_id %>
  </div>
  <div class="field">
    <%= f.label :superlocation_id %><br>
    <%= f.number_field :superlocation_id %>
  </div>
  <div class="field">
    <%= f.label :x_coordinate %><br>
    <%= f.number_field :x_coordinate %>
  </div>
  <div class="field">
    <%= f.label :y_coordinate %><br>
    <%= f.number_field :y_coordinate %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
